<div class="container">
  <h2 class="text-center">Lista de Fórmulas</h2>
  <div class="row">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>L</th>
          <th>a</th>
          <th>b</th>
          <th>Versión</th>
          <th>Estado</th>
          <th>Cliente</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formula of formulas">
          <td>{{ formula.id }}</td>
          <td>{{ formula.nombre }}</td>
          <td>{{ formula.L }}</td>
          <td>{{ formula.a }}</td>
          <td>{{ formula.b }}</td>
          <td>{{ formula.version }}</td>
          <td>{{ formula.estado }}</td>
          <td>{{ formula.nombreCustomer }}</td>
          <td>
            <button class="btn btn-info" (click)="updateFormula(formula.id)">Actualizar</button>
            <button class="btn btn-danger" (click)="deleteFormula(formula.id)">Eliminar</button>
            <button class="btn btn-primary" (click)="viewFormula(formula.id)">Detalles</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
