/* src/app/Ingrediente/create-ingrediente/create-ingrediente.component.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f7f6;
  color: #333;
}

.container {
  max-width: 400px; /* Reduce the width */
  margin: 50px auto; /* Center the container */
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #007bff;
}

form {
  display: flex;
  flex-direction: column;
}

form > div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
}

button {
  width: 50%;
  padding: 12px;
  background-color: #28a745;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 auto; /* Center the button */
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #218838;
}

.alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
