<!-- src/app/Ingrediente/ingrediente.component.html -->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="./" routerLinkActive="active">Lista de Ingredientes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="create-ingrediente" routerLinkActive="active">Agregar Ingrediente</a>
    </li>
  </ul>
</nav>

<h1 class="text-center">{{ title }}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <span>Todos los derechos registrados</span>
  </div>
</footer>
