<div class="container col-md-8 offset-md-2">
  <h2>Creación de Clientes</h2>
  <form (ngSubmit)="onSubmit()" #customerForm="ngForm">
    <div class="form-group">
      <label for="firstName">Nombre:</label>
      <input type="text" id="firstName" class="form-control" required [(ngModel)]="customer.firstName" name="firstName" #firstName="ngModel">
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
        First Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Apellido:</label>
      <input type="text" id="lastName" class="form-control" required [(ngModel)]="customer.lastName" name="lastName" #lastName="ngModel">
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
        Last Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" class="form-control" required [(ngModel)]="customer.email" name="email" #email="ngModel">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        Valid Email is required.
      </div>
    </div>

    <div class="form-group">
      <label for="mobileNumber">Teléfono:</label>
      <input type="text" id="mobileNumber" class="form-control" required [(ngModel)]="customer.mobileNumber" name="mobileNumber" #mobileNumber="ngModel">
      <div *ngIf="mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched)" class="alert alert-danger">
        Mobile Number is required.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="customerForm.invalid">Submit</button>
  </form>
</div>
