<!-- src/app/app.component.html -->
<div class="header">
  <app-header></app-header>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-2 sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10 main-content">
      <app-main-content>
        <nav>
          <ul>
            <li><a routerLink="/customers">Clientes</a></li>
            <li><a routerLink="/ingredientes">Ingredientes</a></li>
            <li><a routerLink="/proveedores">Proveedores</a></li>
            <li><a routerLink="/formulas">Fórmulas</a></li>
            <li><a routerLink="/vendedores">Vendedores</a></li>
            <li><a routerLink="/reports">Reportes</a></li>
          </ul>
        </nav>
        <router-outlet></router-outlet>
      </app-main-content>
    </div>
  </div>
</div>
