<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center">Actualizar Fórmula</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" class="form-control" [(ngModel)]="formula.nombre" name="nombre" required>
        </div>
        <div class="form-group">
          <label for="L">L</label>
          <input type="number" id="L" class="form-control" [(ngModel)]="formula.L" name="L" required>
        </div>
        <div class="form-group">
          <label for="a">a</label>
          <input type="number" id="a" class="form-control" [(ngModel)]="formula.a" name="a" required>
        </div>
        <div class="form-group">
          <label for="b">b</label>
          <input type="number" id="b" class="form-control" [(ngModel)]="formula.b" name="b" required>
        </div>
        <div class="form-group">
          <label for="version">Versión</label>
          <input type="text" id="version" class="form-control" [(ngModel)]="formula.version" name="version" required>
        </div>
        <div class="form-group">
          <label for="estado">Estado</label>
          <input type="text" id="estado" class="form-control" [(ngModel)]="formula.estado" name="estado" required>
        </div>
        <div class="form-group">
          <label for="nombreCustomer">Nombre del Cliente</label>
          <input type="text" id="nombreCustomer" class="form-control" [(ngModel)]="formula.nombreCustomer" name="nombreCustomer" required>
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="goToFormulaList()">Cancelar</button>
      </form>
    </div>
  </div>
</div>
